body {
  background-colour: #FFFFE0;
  font-family: "Times New Roman", Times, serif;
  color: #191970
}
.kartu-profil {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  background-color: pink;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba (0, 0, 0, 0.6);
   text-align: center; 
}


.kartu-profil img {
  width: 150px;
  border-radius: 50%;
}
